.fifthHero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1025px;
  gap: 150px;
}

.fifthHero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.fifthHero__text h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: "abc";
}

.fifthHero__text p {
  font-size: 20px;
  font-family: "gg";
}

@font-face {
  font-family: "gg-Ebold";
  src: url("../fonts/gg-extraBold.ttf");
}

@font-face {
  font-family: "abc";
  src: url("../fonts/abc.ttf");
}
