.thirdHero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1260px;
  gap: 150px;
}

.thirdHero__text {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  gap: 20px;
}

.thirdHero__text h2 {
  font-size: 48px;
  font-weight: bold;
  font-family: "gg-Ebold";
}

.thirdHero__text p {
  font-size: 20px;
  font-family: "gg";
}

.imgTwo {
  width: 100%;
  max-width: 100%;
  transition: width 0.3s ease;
}

@media (max-width: 1312px) {
  .imgTwo {
    width: 550px;
  }

  .thirdHero__text h2 {
    font-size: 38.4px;
  }

  .thirdHero__text p {
    font-size: 16px;
  }
}

@media (max-width: 1110px) {
  .imgTwo {
    width: 450px;
  }

  .thirdHero__text h2 {
    font-size: 34.56px;
  }

  .thirdHero__text p {
    font-size: 14.4px;
  }
}

@media (max-width: 1000px) {
  .thirdHero__container {
    flex-direction: column;
    gap: 50px;
  }
}
